html {
    font-size: 15px;
}

body {
    font-family: 'Overpass', sans-serif;
    background-color: hsl(216, 12%, 8%);
    color: hsl(0, 0%, 100%);
}

h1 {
    color:  hsl(0, 0%, 100%);
    font-weight: 700;
}

.rating-container, .thanks-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 100px 30px;
    background-color:hsl(213, 19%, 18%);
    border-radius: 20px;
}
/*****Rating Screen*******/
.star {
    border-radius: 50%;
    background-color: hsl(216, 12%, 54%);
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    justify-self: left;
}

#rating-text {
    padding: 10px 20px;
    line-height: 1.5em;
    font-size: 0.95em;
}

ul {
    list-style: none;
}

ul li {
    color: hsl(217, 12%, 63%);
    background-color: hsl(216, 12%, 54%);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: inline-block;
}

button {
    background-color: hsl(25, 97%, 53%);
    color:hsl(0, 0%, 100%);
    font-family: 'Overpass', sans-serif;
    text-transform: uppercase;
    margin: 10px;
}

/*****Thank You Screen*******/


h3 {
    padding: 0px 50px;
    justify-self: center;
    color: hsl(25, 97%, 53%);
    font-size: 1em;
    border-radius: 15%;
    background-color: hsl(216, 12%, 54%);
    height: 20px;
    width: auto;
}

h2 {
    text-align: center;
    font-size: 1.75em;
}

#ty-text {
    padding: 0px 20px;
    line-height: 1.5em;
    font-size: 0.95em;
    text-align: center;
    margin-bottom: 40px;
}



/**Footer**/
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}